
body{
    background-image:url('images/undraw_contact_us_re_4qqt.svg');
    background-repeat: no-repeat;
    background-position: 10%;
    background-size:60%;
}

.container-fluid{
   margin-right: 200px;
    max-width: 28%;
    margin-top: 100px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
}

.content{  
    margin-bottom: 20px;
}

input[type=text],input[type=password]{
    box-sizing: border-box;
    padding: 12px 5px;
    outline:none;
    border: solid 1px black;
    border-bottom: 1px dotted #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    margin-bottom: 50px;
}

input[type=submit]{
    width: 100%;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline:none;
    border: none;
    background:gray ;
    opacity: 0,7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;

}

h2{
    text-align: center;
    font-size:26px;;
}

input[type=submit]:hover{
        background:rgb(231, 218, 218) ;
        opacity: 0,7;
    }